* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    background-color:#0F172A; 
    color: #fff;
    width: 250px;
    padding: 20px;
}

.sidebar .logo h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.sidebar .logo p {
    font-size: 14px;
}

.sidebar ul {
    list-style-type: none;
    margin-top: 40px;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #C084FC;
    padding: 10px;
    border-radius: 10px;
    color: #581C87;
    font-size: 20px; /* Ukuran font lebih besar agar lebih terlihat */
    transition: all 0.3s ease;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #1C2435; 
}

.main-content hr {
    border-color: #9333EA;
}

.header h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: white;
}

.header p {
    font-size: 18px;
    color: white;
}

#openModalBtn {
    background-color:#C084FC;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#openModalBtn:hover {
    background-color:#9333EA;
}

.inputSearch{
    padding: 9px;
    width: 20%;
    border-radius: 20px;
    border: 0.6mm solid #C084FC;
    margin-left: 5px;
}

 /* Style untuk modal */
 .modal {
    display: none; /* Modal disembunyikan secara default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Transparan hitam */
    background-color: rgba(0, 0, 0, 0.4); /* Latar belakang dengan transparansi */
}

.modal-content {
    background-color: #0F172A;
    margin: 1% auto;
    padding: 20px;
    border: 1px solid #581C87;
    color: white;
    width: 80%;
    max-width: 400px;
    font-size: 12px;
}

/* Tombol tutup modal */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #C084FC;
    text-decoration: none;
    cursor: pointer;
}

.input{
    background-color: #1C2435;
    color: white;
}

/* Style untuk form */
.form-container input, .form-container select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #581C87;
    border-radius: 4px;
    height: 30px;
}

.form-container button {
    background-color: #C084FC;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.form-container button:hover {
    background-color: #9333EA;
}

/* Menyembunyikan elemen berdasarkan role */
.admin-fields, .mentor-fields, .student-fields {
    display: none;
}

/* Styling untuk tabel */
.custom-table {
    table-layout: fixed;
    font-size: 13px;
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse; 
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid #581C87; 
    padding: 6px;
    text-align: center; 
  }
  
  .custom-table th {
    background-color:#9333EA; 
    font-weight: bold; 
    color: white;
  }
  
  .custom-table tr {
    background-color: #C084FC;
    color: white; 
  }

  .custom-table td{
    width: 150px;            
    overflow: hidden;        
    text-overflow: ellipsis; 
    white-space: nowrap;     
    padding-right: 10px;      
  }

  .btnEdit{
    padding: 4px;
    margin: 2px;
    background-color: rgb(47, 130, 255) ;
    color: white;
    text-decoration: none;
    border-radius: 3px;
  } 

  .btnEdit:hover{
    background-color: rgb(20, 114, 255);
  }

  .btnHapus{
    padding: 4px;
    margin: 2px;
    background-color: #BE185D;
    color: white;
    text-decoration: none;
    border-radius: 3px;
  } 

  .btnHapus:hover{
    background-color: #cb0055;
  }


  